NEXT_PUBLIC_SUPABASE_URL=https://rehogfobljmsjimkbvfr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlaG9nZm9ibGptc2ppbWtidmZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1MDA0MzAsImV4cCI6MjA5OTA3NjQzMH0.H1BLWrfH65bnZkra1vUQRUXfbt8Xxfld1QqpMfWUOyE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlaG9nZm9ibGptc2ppbWtidmZyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzUwMDQzMCwiZXhwIjoyMDk5MDc2NDMwfQ.8wUGv4ztQxFH3CPo3MJ-7NN6dXHB7pv1hGmNaTZvcKY